export BEETSDIR="$PWD"
PATH_add ~/.local/pipx/venvs/beets/bin
PATH_add scripts
if [ -e ~/.nix-profile/etc/profile.d ]; then
    for i in ~/.nix-profile/etc/profile/d/*.sh; do
        if [ -e "$i" ]; then
            . "$i"
        fi
    done
fi
use nix
